* {
    box-sizing: border-box;
}

body {
    background: lightgray;
    position: absolute;
    min-width: 300px;
}

header {
    margin: 20px;
    font-size: 4em;
    text-align: center;
}

.item-description {
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    top: 80px;
}

.header-beef,
.header-chicken,
.header-sushi {
    font-size: 3em;
    border: 1px solid black;
    border-style: none none solid solid;
    border-width: thick;
    position: absolute;
    top: -1px;
    right: -1px;
    width: auto;
    text-align: center;
    padding: 10px;
}

.header-beef {
    background: red;
    color: white;
}

.header-chicken {
    background: pink;
}

.header-sushi {
    background: yellow;
}

@media (max-width:767px) {
    .col-xs-4,
    .col-xs-6,
    .col-xs-12 {
        float: left;
        border: 1px solid black;
        border-width: thick;
        position: relative;
        background: gray;
        margin-bottom: 2%;
    }
    .col-xs-4 {
        width: 33%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-12 {
        width: 100%;
        min-height: 260px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .col-sm-4,
    .col-sm-6,
    .col-sm-12 {
        float: left;
        border: 1px solid black;
        border-width: thick;
        position: relative;
        background: gray;
        margin: 5px 2px;
    }
    .col-sm-4 {
        width: 33%;
    }
    .col-sm-6 {
        width: 49%;
        min-height: 220px;
    }
    .col-sm-12 {
        width: 98.5%;
        min-height: 170px;
    }
}

@media (min-width:992px) {
    .col-md-4,
    .col-md-6,
    .col-md-12 {
        float: left;
        border: 1px solid black;
        border-width: thick;
        position: relative;
        background: gray;
        margin: 0px 1%;
        min-height: 260px;
        padding: 0 2px;
    }
    .col-md-4 {
        width: 30%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%
    }
}